body {
  margin: 0;
}
.header {
  background-color: yellow;
  height: 70px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
    margin: 10px 30px 0 30px;
}
.header h3 {
  font-size: 19px;
  margin: 0;
  line-height: 1.2;
}
.home {
  background-color: skyblue;
  padding: 20px;
  text-align: center;
  height: 220px;
  overflow: scroll;
  margin: 0 40px 0 40px;
}
.subject-list {
  text-align: left;
  margin-left: -20px;
  margin-top:30px;
}
.subject-list li {
  margin-bottom: 10px;
  font-size: 20px;
}
.footer {
  background-color: #9af0ec;
  height: 100px;
  padding: 20px;
  text-align: center;
  margin: 0 30px 30px;
  
}
.footer hr {
  width: 90%;
  margin: 5px auto;
}